.reportmodal {
  height: 70px;
  background: linear-gradient(to right, #ed0f1b, #aa111a);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_name {
  font-size: 21px;
  font-family: Bungee;
  color: #ffffff;
  line-height: 1.5em;
  margin-left: 20px;
}

.reportmain {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 90%;

  @media screen and (max-width: 460px) {
    width: 80%;
  }

  @media screen and (max-width: 415px) {
    width: 70%;
  }

  @media screen and (max-width: 370px) {
    width: 60%;
  }

  @media screen and (max-width: 320px) {
    width: 60%;
  }
}

.addreportTextarea {
  border: 1px solid #ed0f1b;
  font-size: 15px !important;
  margin-bottom: 13px;
  border-radius: 3px;
  width: 100%;
  resize: none;
  height: 112px;
  caret-color: #ed0f1b;

  @media screen and (max-width: 650px) {
    height: 100px;
  }
}

.addreportTextarea:focus {
  outline: none !important;
  // box-shadow: 0 0 3px #fff;
}
