@use '../../Styles/core/sizes';
@use '../../Styles/core/wrapper';
@use '../../Styles/global/colors';

.maindialogFD {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.submaindialogFd {
  padding: 0px !important;
  width: 400px;
}

.inputstyle:focus {
  outline: none !important;
  box-shadow: 0 0 3px #ed0f18;
}

.headerFD {
  height: 70px;
  background: linear-gradient(to right, #ed0f1b, #aa111a);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleDivFP {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.closeIconDiv {
  position: absolute;
  height: 70px;
  width: 50px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIconStyle {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.titleStyleFP {
  font-size: 20px;
  font-family: Bungee;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.5em;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 30px 50px;
  background-color: #fff;
  overflow: scroll;
}

.inputstyle {
  border: 1px solid #ed0f1b;
  border-radius: 5px;
  height: 32px;
  width: calc(100% - 20px);
  margin-top: 5px;
  color: #484848;
  font-family: segoeui;
  padding: 0px 10px 0px 10px;
  caret-color: #ed0f1b;
}

.textStyle {
  font-family: "segoeui";
  color: #656565;
  font-weight: bold;
  font-size: 14px;
}

.saveButtonStyle {
  background-color: #ed0f1b;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 40px;
  border-radius: 5px;
  height: 15px;
  cursor: pointer;
  width: calc(100% - 15px);
}

.buttonText {
  font-family: segoeui;
  color: #fff;
  font-size: 13px;
}

@media screen and (max-width: 474px) {
  .submaindialogFd {
    width: 80vw;
  }

  .titleStyleFP {
    font-size: 16px;
  }

  .headerFD {
    justify-content: flex-start;
    padding-left: 20px;
  }
}

@media screen and (max-width: 420px) {
  .contentDiv {
    padding: 20px 30px 20px 30px;
  }

  .titleStyleFP {
    font-size: 14px;
    padding-right: 42px;
  }
}

@media screen and (max-width: 310px) {
  .titleStyleFP {
    font-size: 12px;
  }

  .closeIconStyle {
    height: 22px;
    width: 22px;
  }
}
