@use '../../Styles/core/wrapper';
@use '../../Styles/core/sizes';
@use '../../Styles/global/colors';

.roomDetailsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
}
