@use '../../Styles/core/wrapper';
@use '../../Styles/core/sizes';
@use '../../Styles/global/colors';

.newsMaindiv {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.newssubmaindiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotateY(360deg);
  }
}

.animatecoin {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}

@keyframes boxActivated {
  100% {
    transform: translateY(-40px);
  }
}

.commentinputbox {
  height: 40px;
  width: 100%;
}

.subcommentinputbox {
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

.likesharecommenticons {
  height: 25px;
  width: 25px;
}

.likesubcommenticons {
  height: 20px;
  width: 20px;
}

.liketext {
  font-size: 20px;
  font-weight: bold;
  color: #353535;
  font-family: segoeui;
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0px !important;
}

.MuiOutlinedInput-input {
  padding: 10px 14px !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border: 1px solid #ed0f1b !important;
  box-shadow: 0 0 3px #ed0f18 !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: 1px solid #ed0f1b !important;
}

.commentorname {
  font-family: segoeui;
  font-size: 18px;
  color: #353535;
  font-weight: bold;
  padding-left: 5px;
}

.commentorcomment {
  font-size: 18px;
  color: #656565;
  font-weight: normal;
  font-family: segoeui;
}

.commentorcommentTime {
  font-size: 13px;
  color: #656565;
  font-weight: normal;
  font-family: segoeui;
  margin-left: 6px;
}

.teamiconStyleNews {
  width: 25px;
  height: 25px;
}

.commentscontainer {
  padding: 5px 0px 15px 0px;
  display: flex;
  align-items: center;
}

.commentorimage {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  margin-right: 10px;
  align-self: flex-start;
}

.newsinfo {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
}

.iconscontainer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.posteddate {
  font-size: 18px;
  font-family: segoeui;
  color: #656565;
  padding-top: 15px;
}

.articaltitle {
  font-family: Bungee;
  font-size: 20px;
  letter-spacing: 1.56;
  color: #353535;
  padding-top: 15px;
  line-height: 1.5em;
}

.newsarticle {
  font-family: segoeui;
  color: #656565;
  margin-top: 10px;
}

.image {
  width: 700px;
  height: 400px;
}

@media screen and (max-width: 820px) {
  .newssubmaindiv {
    padding-top: 0px;
  }

  .image {
    width: 100%;
    height: 55vw;
  }

  .iconscontainer {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 639px) {
  .newsarticle {
    font-size: 15px;
  }

  .articaltitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 520px) {
  .commentorname {
    font-size: 16px;
  }

  .commentorcomment {
    font-size: 16px;
  }

  .liketext {
    font-size: 15px;
  }

  .likesharecommenticons {
    height: 20px;
    width: 20px;
  }
}

@media screen and(max-width: 450px) {
  .commentorname {
    font-size: 14px;
  }

  .commentorcomment {
    font-size: 14px;
  }

  .teamiconStyleNews {
    width: 20px;
    height: 20px;
  }
}

.comments-textarea {
  background-color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  display: flex;
  font-size: 14px;
  width: 100%;
  color: #333;
  border: 0;
  &:focus,
  &:active {
    outline: none;
  }
}
