// Layout Colors

$layout-primary-color: #ed0f1b;
$layout-white-color: #ffffff;

// Font Colors

$font-primary-color: #585858;
$font-secondary-color: #ffffff;
$font-tertiary-color: #aaa;

// fonts family

$bungee-font-family: "Bungee";
$segoeui-font-family: "segoeui";
$slaztone-font-family: "slaztone";
$roboto-font-family: "Roboto";
